
.about{
    background-image: url('./skyme.jpg');
    height: 350px;
    padding: 80px;
   
}
h1,h6{
    color: green;
}

.description>img{
height: 200px;
width: 80%;
}
.but{
    margin-bottom: 50px;
    height: 60px;
    width: 120px;
    border-radius: 15px;
    padding: 10px 19px;
    font-weight: bold;
}
